* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: sans-serif;
}

h1 {
  background: #000;
  color: #fff;
  font-size: 150%;
  padding: 0.25em; 
}

div {
  background: #ddd;
  padding: 0.5em;
}

button {
  padding: 0.25em;
}

textarea {
  width: 98%;
  margin: 0.5%;
  height: 30em;
}

p {
  margin: 0.5em;
  padding: 0.5em;
  background: #f00;
  color: #fff;
}

label {
  margin: 0 0.5em 0 1em;
}